.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}
body {
  font-family: 'Roboto', sans-serif; 
  background: #a0d2eb
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
